<div *ngIf="authenticationService.isAuthenticated" class="parent-container">
  <div class="game-header">
    <p *ngIf="(gameService.games$ | async)?.length == 0">
      No games. Create a new one!
    </p>
    <mat-card
      *ngFor="let game of gameService.games$ | async"
      class="example-card"
      [class.active]="game.ID == (gameService.getSelectedGame() | async)?.ID"
    >
      <app-game [game]="game"></app-game>
    </mat-card>
  </div>
  <div>
    <app-players [game]="gameService.getSelectedGame() | async"></app-players>
    <app-transactions
      [game]="gameService.getSelectedGame() | async"
    ></app-transactions>
  </div>
</div>
<div *ngIf="!authenticationService.isAuthenticated" class="parent-container">
  Login or Register to start playing!
</div>
