<div *ngIf="authenticationService.isAuthenticated" class="parent-container">
  <div class="game-header">
    <p *ngIf="(gameService.games$ | async)?.length == 0">
      No games. Create a new one!
    </p>
    <mat-card
      *ngFor="let game of gameService.games$ | async"
      class="example-card"
      [class.active]="game.ID == (gameService.getSelectedGame() | async)?.ID"
    >
      <app-game [game]="game"></app-game>
    </mat-card>
  </div>
  <div *ngIf="gameService.selectedGame" class="row-center">
    <form
      [formGroup]="transactionForm"
      (ngSubmit)="makePayment(gameService.selectedGame)"
    >
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select formControlName="fromPlayerName">
          <mat-option
            *ngFor="
              let p of playerService.getInGamePlayers(
                gameService.selectedGame.ID
              )
            "
            value="{{ p.name }}"
            >{{ p.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <mat-select formControlName="toPlayerName">
          <mat-option
            *ngFor="
              let p of playerService.getInGamePlayers(
                gameService.selectedGame.ID
              )
            "
            value="{{ p.name }}"
            >{{ p.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Pay</button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div>
    <app-players [game]="gameService.getSelectedGame() | async"></app-players>
    <app-transactions
      [game]="gameService.getSelectedGame() | async"
    ></app-transactions>
  </div>
</div>
<div *ngIf="!authenticationService.isAuthenticated" class="parent-container">
  Login or Register to start playing!
</div>
