<div *ngIf="authenticationService.isAuthenticated" class="parent-container">
  <div class="game-header">
    <mat-card
      *ngFor="let game of gameService.games$ | async"
      class="example-card"
      [class.active]="game.ID == (gameService.selectedGameId$ | async)"
    >
      <app-game [game]="game"></app-game>
    </mat-card>
  </div>
  <div>
    <app-players [gameId]="gameService.selectedGameId$ | async"></app-players>
    <app-transactions
      [gameId]="gameService.selectedGameId$ | async"
    ></app-transactions>
  </div>
</div>
<div *ngIf="!authenticationService.isAuthenticated" class="parent-container">
  Login or Register to start playing!
</div>
