<div class="player-container">
	<div class="side">
		<div class="row" *ngFor="let player of players">
			<div class="card-container">
				<div class="card card-large" tabindex="0">
					<img src="../assets/{{player.img}}.jpg" width="100" height="80">
				<span *ngIf="player.name != 'Bank'">{{player.money | currency}}</span>
				</div>
			</div>
			<form [formGroup]="transactionForm" (ngSubmit)="makePayment(player)">
				<mat-form-field appearance="fill">
				<mat-label>Amount</mat-label>
				<input matInput formControlName="amount" type="number">
				</mat-form-field>
				<mat-form-field appearance="fill">
				<mat-label>To</mat-label>
				<mat-select formControlName="otherPlayer">
				<mat-option *ngFor="let p of playersNot(player)" value="{{p.name}}">{{p.name}}</mat-option>
				</mat-select>
				</mat-form-field>
				<button mat-button color="primary">Pay</button>
			</form>
		</div>
	</div>
	<div class="side">
		<div class="row">
			<mat-card>transaction 1</mat-card>
		</div>
		<div class="row">
			<mat-card>transaction 222</mat-card>
		</div>
		<div class="row" *ngFor="let transaction of transactions">
			<mat-card>{{transaction.fromPlayer.name}} paid {{transaction.toPlayer.name}} {{transaction.amount | currency}}</mat-card>
		</div>
	</div>
</div>