  mat-form-field {
    padding: 10px;
  }
  
  .row-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: middle;
  }

  .row-left {
    justify-content: left space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
