  <div class="card-container">
    <div *ngFor="let player of players" (click)="onSelect(player)" class="card card-large" tabindex="0">
	<img src="../assets/{{player.img}}.jpg" width="100" height="80">
      <span>{{player.name}}</span><span *ngIf="player.name != 'Bank'">::{{player.money | currency}}</span>
    </div>
  </div>

<h3 *ngIf="errorMsg">{{errorMsg}}</h3>

<app-player-detail [player]="selectedPlayer" [players]="players" [transactions]="transactions" (transaction)="handleTransaction($event)"></app-player-detail>