<div *ngIf="gameId">
	<div class="row-center">
		<form [formGroup]="transactionForm" (ngSubmit)="makePayment()">
			<mat-form-field appearance="fill">
				<mat-label>From</mat-label>
				<mat-select formControlName="fromPlayerName">
				<mat-option *ngFor="let p of playerService.getInGamePlayers()" value="{{p.name}}">{{p.name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Amount</mat-label>
				<input matInput formControlName="amount" type="number">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>To</mat-label>
				<mat-select formControlName="toPlayerName">
				<mat-option *ngFor="let p of playerService.getInGamePlayers()" value="{{p.name}}">{{p.name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-raised-button color="primary">Pay</button>
		</form>
	</div>
	<mat-divider></mat-divider>
	<div class="row-center">
		<div *ngFor="let player of playerService.getNonHumanPlayers()">
			<div class="player-row">
				<div *ngIf="player" class="card-container">
					<div (click)="openPieceSelectDialog(player)" class="card card-large" tabindex="0">
						<div class="img-holder">
						<img src="../assets/{{player.img}}.jpg">
						</div>
						<span *ngIf="player.name != 'Bank'"><animated-digit [digit]="player.money" [duration]="1000"></animated-digit></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<mat-divider></mat-divider>
	<div class="row-center">
		<div *ngFor="let player of playerService.getHumanPlayers()">
			<div class="player-row">
				<div *ngIf="player" class="card-container">
					<div (click)="openPieceSelectDialog(player)" class="card card-large" tabindex="0">
						<div class="img-holder">
						<img src="../assets/{{player.img}}.jpg">
						</div>
						<span *ngIf="player.name != 'Bank'"><animated-digit [digit]="player.money" [duration]="1000"></animated-digit></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>