<mat-card *ngIf="transaction">
	<mat-card-title>
		<img src="../assets/{{playerService.getPlayerImgUrl(transaction.fromPlayerId) | async}}.jpg" width=30px height=30px> 
		paid 
		<img src="../assets/{{playerService.getPlayerImgUrl(transaction.toPlayerId) | async}}.jpg" width=30px height=30px></mat-card-title>
	<mat-card-subtitle>{{transaction.timestamp}}</mat-card-subtitle>
	<mat-card-content>{{transaction.amount | currency}}</mat-card-content>
	<mat-card-actions align="end">
	<button (click)="undoTransaction(transaction.ID)" mat-raised-button>Undo</button>
	</mat-card-actions>
</mat-card>
