@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
  .content {
    display: flex;
    margin: 0px auto 32px;
    padding: 0 16px;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
  }