<div class="content" role="main" *ngIf="player">

<h2>
<span><img src="../assets/{{player.img}}.jpg" width="100" height="80"></span>
<span *ngIf="player.name != 'Bank'">{{player.money | currency}}</span>
</h2>
<h3 *ngIf="errorMsg" (click)="errorMsg=''">{{errorMsg}}</h3>

<form [formGroup]="transactionForm" (ngSubmit)="makePayment()" novalidate>
	<div class="form-group">
		<label for="payTo">Pay to:</label>
		<select class="form-control" id="payTo" formControlName="otherPlayer">
			<option *ngFor="let otherPlayer of getOtherPlayers()" value="{{otherPlayer.name}}">{{otherPlayer.name}}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="amount">Amount:</label>
		<input class="form-control" type="number" formControlName="amount" placeholder="Amount">
		</div>
	<div class="form-group">
		<button class="btn btn-default">Make Payment</button>
	</div>
</form>

<div *ngIf="getTransactionsStrings()">
	<ul>
		<li *ngFor="let transactionString of getTransactionsStrings()">{{ transactionString}}</li>
	</ul>
</div>

</div>