<div *ngIf="player">

  <h2>{{player.name}} - {{player.money | currency}}</h2>

<form #f="ngForm" (ngSubmit)="makePayment(f)" novalidate>
	<div class="form-group">
		<label for="payTo">Pay to:</label>
		<select class="form-control" id="payTo" [(ngModel)]="otherPlayer" name="otherPlayer">
			<option *ngFor="let otherPlayer of players">{{otherPlayer.name}}</option>
		</select>
		</div>

	<div class="form-group">
		<label for="amount">Amount:</label>
		<input class="form-control" type="number" [(ngModel)]="amount" name="amount" placeholder="Amount" ngModel>
		</div>
	<div class="form-group">
		<button class="btn btn-default">Make Payment</button>
	</div>
</form>

<div *ngIf="getTransactionsStrings()">
	<ul>
		<li *ngFor="let transactionString of getTransactionsStrings()">{{ transactionString}}</li>
	</ul>
</div>

</div>